<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <!--<test verbose="2" preserve-order="true" name="C:/Users/Administrator/IdeaProjects/Testngpro">-->
        <!--<classes>-->
            <!--<class name="com.chen.autocases.TestDemo"/>-->
        <!--</classes>-->
    <test name="Test">
        <packages>
            <package name="com.chen.autocases"/>
            <package name="http.chen.autocases"/>
        </packages>

    </test>
    <listeners>

        <listener class-name="org.uncommons.reportng.HTMLReporter" />
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
    </listeners>
    <!--</test>-->
</suite>